body
{
    background-color: black;
    user-select: none;
}

#menu{
    
    text-align: center;
}

.submitMenuSelect
{
    border:none;
    padding:4px 4px 4px 4px;
    margin: 8px 8px 8px 8px;
	border-radius:2px;
	box-shadow:3px 3px 24px #999;
	background:#fff;
	font:bold 13px Arial;
    color:#555;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    width: 10em;
    height: 6em;
}

#submitMenuSelectHTML:hover
{
    background-color : rgb(212, 138, 58);
    color : white;
}
#submitMenuSelectC:hover
{
    background-color : rgb(8, 106, 187);
    color : white;
}
#submitMenuSelectJS:hover
{
    background-color : rgb(206, 199, 8);
    color : white;
}
#submitMenuSelectJAVA:hover
{
    background-color : rgb(151, 47, 6);
    color : white;
}

#menuTitle{
    color:white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.code {
    width: 98%;
    white-space: pre-wrap;
    border: solid lightgrey 1px;
    margin: 2px 2px 2px 2px;
}

.code:hover{
    border: solid rgb(255, 255, 255)3px;
}

.ace_static_highlight {

    padding: 15px 15px 15px 15px;
    font-size: 20px !important;
}

#question{
    position: center;
}

#colLeft{
    
    float: left;
    width: 50%;
    cursor: pointer; 

}

#colRight{

    float: left;
    width: 50%;
    cursor: pointer; 
}